<div class="text-center mt-4">
<h2><%= @month %>月<%= @day %>日<%= @time %></h2>
<%= form_with url: reservations_path do |form| %>
  <div class="row my-3">
    <div class="col-5 text-right"><%= form.label :"氏名(漢字)" %></div>
    <div class="col-7 text-left"><%= form.text_field :name1, placeholder: "名前を入力してください", class: "txt" %></div><br/>
  </div>
  <div class="row my-3">
    <div class="col-5 text-right"><%= form.label :"氏名(カタカナ)" %></div>
    <div class="col-7 text-left"><%= form.text_field :name2, placeholder: "名前を入力してください", class: "txt"  %></div><br/>
  </div>
  <div class="row my-3">
    <div class="col-5 text-right"><%= form.label :"電話番号" %></div>
    <div class="col-7 text-left"><%= form.text_field :tel, placeholder: "ハイフンなしで入力してください", class: "txt"  %></div><br/>
  </div>
  <div class="row my-3">
    <div class="col-5 text-right"><%= form.label :"メニュー" %></div>
    <!--<div class="col-7 text-left"><//%= form.select :menu, @menu.map{|m| [m.details,m.details]}, multiple: true %></div><br/>-->
    <div class="col-7 text-left"><%= form.select :menu, @menu.map{|m| [m.details,m.details]}, multiple: true %></div><br/>
    
  </div>
  <br/>
  <%= form.submit value: "予約する" %>
<% end %>

<%= form_with model: @reservations, url: reservations_add_path, local: true do |f| %>
  <%= f.collection_check_boxes :menu, @menu, :details, :details do |m| %>
    <%= m.label { m.check_box + m.text } %>
  <% end %>
  <%= f.submit %>
<% end %>
</div>
