<div class="text-center container">
<!--<div class="py-4 row bg-dark my-3" id="header">-->
  <div class="no_scroll" id="header">
    <div class="col-4"><%= link_to "予約",  root_path(anchor: "reservation"), class: "h3 text-white-50" %></div>
    <div class="col-4"><%= link_to "メニュー", root_path(anchor: "menu"), class: "h3 text-white-50" %></div>
    <div class="col-4"><%= link_to "アクセス", root_path(anchor: "access"), class: "h3 text-white-50" %></div>
  </div>
</div>
<div id="scroll" style="margin-top: 0px;">
<div class="text-center container"><%= image_tag "bgimg.jpg", class: "w-75 h-25" %></div>
<h1 class="text-center my-4" id="reservation">reservation</h1>
<div class="text-center">
  <!-- railsでの月日時送信フォーム -->
  <!-- この処理はコントローラのがいいかも？ -->
  <% today = Date.today %>
  <% next_month = today.next_month %>
  <% days = [*today.beginning_of_month.day..today.end_of_month.day] %>
  <% day = today.day %>
  <% hour = [*10..18] %>
  <% min = [":00", ":30"] %>
  <% time = [] %>
  <% hour.each do |h| %>
    <% min.each do |m| %>
      <% time << "#{h}#{m}" %>
    <% end %>
  <% end %>

<p id="time"></p>

  <%= form_with url: reservations_path, local: true do |form| %>  
    <div class="row">
      <div class="col-4"></div>
      <div class="col-1">
    <%= form.label :"月", {}, {class: "mx-4"} %>
      </div>
      <div class="col-1">
    <%= form.label :"日", {}, {class: "mx-4"} %>
      </div>
      <div class="col-1">
    <%= form.label :"時間", {}, {class: "mx-4"} %><br>
      </div>
    </div>
    <div class="col-5"></div>
    <div class="row">
    <div class="col-4"></div>
      <div class="col-1">
    <!-- 月選択 -->
    <%= form.select :month, [[today.month, today.month], [next_month.month, next_month.month]] %>
      </div>
    <!-- 日付選択 -->
      <div class="col-1">
    <%= form.select :day, days.map{|d| [d, d]}, :selected => day %>
      </div>
    <!-- 時間選択 -->
      <div class="col-1">
      <!-- 第２引数にはselectのオプションprompt、include_blankを設定、
      　　 第３引数にはhtmlのオプションを設定。idとかclass-->
      <%= form.select :time, time.map{|t| [t,t]},{}, {:class => "select_time"} %>
      </div>
      <div class="col-5"></div>
    </div>
    <%= form.submit value: "予約フォームへ", class: "m-4" %>
  <% end %>
</div>
<!-- 月日時フォームここまで 
<#% @reservation.each do |r| %>
 <p><#%= r.start_time %></p>
 <#% end %> -->

<h1 class="text-center my-4" id="menu">menu</h1>

<div class="row menu_text">
  <% @menus.each do |menu| %>
    <div class="col-4">
      <h3 class="h1 text-info"><%= menu.menu %></h3>

      <% if menu.menu == "cut" %>
        <% @cut.each do |cut| %>
          <p><%= cut.details %> <%= cut.price %></p>
        <% end %>

      <% elsif menu.menu == "perm" %>
        <% @perm.each do |perm| %>
          <p><%= perm.details %> <%= perm.price %></p>
        <% end %>

      <% elsif menu.menu == "color" %>
        <% @color.each do |color| %>
          <p><%= color.details %> <%= color.price %></p>
        <% end %>

      <% end %>
    </div>

  <% end %>
</div>


<div class="bg-secondary">
  <h1 class="text-center my-4" id="access">access</h1>
  <div class="row">
    <div class="col-6">
      <p class="text-light access_text">50/50(フィフティフィフティ)</p>
      <p class="text-light access_text">TEL：000-111-2222</p>
      <p class="text-light access_text">mail：xxxx@yyyyyy</p>
      <p class="text-light access_text">住所：***県+++市↑↓6-7</p>
      <p class="text-light access_text">営業時間：10時~19時</p>
      <p class="text-light access_text">定休日：毎週月曜・第２、４火曜日</p>
    </div>
    <div class="col-6" id="map">
    </div>
  </div>
</div>
<script async defer
 type="text/javascript">
    function initMap() {
        //マップ表示
        //test 座標
        var test ={lat: 34.7019399, lng: 135.51002519999997};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 19,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        //地図上のピン情報
        var contentString = '住所：hoge';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        //地図上にピンを表示
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        //クリック時にピン情報表示
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAClZyQNNSuhJtOIvDCbBSlrBwPci8BphM&callback=initMap">
</script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAClZyQNNSuhJtOIvDCbBSlrBwPci8BphM&callback=initMap"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAClZyQNNSuhJtOIvDCbBSlrBwPci8BphM&callback=initMap"></script>-->
</div>
