<!DOCTYPE html>
<html>
  <head>
    <title>Salon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      #maps{
        width: 700px;
        height: 400px;
      }
      .icon{
        text-align: center;
      }

    </style>
    <% require "date" %>
  </head>

  <body>
  <h1 class="icon"><%= image_tag "50:50.png" %></h1>
    <%= yield %>
  </body>
</html>
